*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right bottom, rgba(91, 169, 247, 0.329), rgba(181, 152, 207, 0.905));
}
#navStyle{
    background-color: rgba(252, 252, 252, 0.765);
    position: absolute;
    left: 6%;
    top: 15%;
}
.nav-item a{
    font: 900 11px 'Sedan','Poppins',sans-serif;
    color: #080808ab !important;
}
.line{
    height: 1px;
    opacity: 0.4;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.801);
}
.ones{
    position: absolute;
    left: 12.5%;
    top:5%;
    background-color: white;
    /* width: 80vh;
    height:90vh; */
}